h1 {
    align-self: center;
    color: Green;
}

.unused h2,
.used h2 {
    display: flex;
    justify-content: center;
}

.unused .checkboxes,
.used .checkboxes {
    background-color: #eee;
    cursor: pointer;
}

.unused .inputs,
.used .inputs {
    height: 10vh;
    width: 10vw;
}

.unused .checkboxes:hover {
    background-color: #ccc;
}

.unused form,
.used form {
    display: flex;
    flex-wrap: wrap;
    padding: 5%;
    justify-content: center;
}